<h1>Edit the account</h1>

<%= render 'shared/error_messages', obj: @account %>

<%= render 'form' %>

<%= link_to "Delete this account", @account, method: :delete, data: { confirm: "Are you sure"} %>