<% if logged_in? %>
  <%= render 'shared/content_header', title: "List of your accounts:" %>

  <% @accounts.each do |account| %>
    <h3><%= link_to account.name, account_path(account) %> <small>[<%= link_to "Edit", edit_account_path(account) %>]</small></h3>
  <% end %>
<% end %>